.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    font-family: var(--font-family);
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

.primary {
    color: white;
    background-color: var(--primary);

    &:hover {
        background-color: rgb(229, 121, 5, 0.9);
    }

    &:active {
        background-color: rgb(229, 121, 5, 0.7);
    }
}

.full {
    width: 100%;
    padding: 12px 0;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    align-items: center;
}
