.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    font-family: var(--font-family);
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

.icon {
    display: inline-block;
    text-align: center;
    width: 24px;
}
