.wrapper {
    padding: 40px 14px;
}

.cart {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 12%);
    border-radius: 12px;
    margin-bottom: 12px;
}

.item-img {
    width: 20%;
}

.item-info {
    margin-left: 10px;
    width: 40%;
    min-height: 100%;
}

.product {
    font-weight: 600;
}
.category {
    padding: 10px 0;
}
.remove {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    color: var(--text-color);
}

.item-quantity {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.minus-icon,
.plus-icon {
    font-size: 2.2rem;
    color: var(--primary);
}

.quantity-input {
    width: 20px;
    text-align: center;
}

.minus-icon + .quantity-input,
.quantity-input + .plus-icon {
    margin-left: 6px;
}

.checkout {
    margin-top: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px 10px;
}

.checkout p {
    margin-bottom: 6px;
}

.checkout {
    label {
        display: block;
        margin-bottom: 4px;
    }
    input,
    textarea {
        width: 100%;
        padding: 0 4px;
        line-height: 2.2rem;
        border: 2px solid #f2f2f2;
        border-radius: 4px;
        margin-bottom: 6px;
    }
    textarea {
        resize: none;
        margin-bottom: 14px;
    }
}

.item-price {
    width: 20%;
    text-align: right;
}

.value {
    float: right;
}

.link-menu {
    display: block;
}

.image-cart {
    display: flex;
}

.cart-null {
    margin: auto;
}
