.banner,
.menu,
.cloudtea,
.store {
    margin-bottom: 40px;
}

.menu {
}

.menu-img {
    margin-bottom: 40px;
}

.menu-img-link {
    display: block;
    padding-top: 65%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 16px 0px #0000001f;
}

.img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.cloudtea {
    padding: 48px 0 45px;
    background-image: url(https://file.hstatic.net/1000075078/file/desktop_bg_2256b720853848f09e435f3931a65b5f.jpg);
}

.cloudtea-img {
    width: 100%;
}

.cloudted-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.cloudted-info-img {
}

.cloudtea-info-desc {
}

.cloudtea-btn {
    background-color: rgb(200, 7, 15);

    &:hover {
        background-color: rgb(200, 7, 15, 0.8);
    }
}

.store {
}

.blog {
    background-color: #fff7e6;
    padding-bottom: 6%;
}
