.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #00000026;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 14px;
}

.bars-icon {
    padding: 16px;
    display: none;
    cursor: pointer;
    &:hover {
        color: var(--primary);
    }
}

.logo {
    display: flex;
    width: 150px;
    min-width: 120px;
    height: 50px;
}

.navbar,
.navbar-user {
    display: flex;
    align-items: center;
}

.close-icon {
    display: none;
    float: right;
    padding: 16px;
    cursor: pointer;
}

.navbar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.3);
}

// Tablet & Mobile
@media (max-width: 1023px) {
    .logo {
        width: 50%;
        margin: 0 auto;
    }
    .bars-icon {
        display: flex;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: var(--color-white);
        z-index: 2;
        overflow-y: auto;
    }

    .navbar.show {
        display: block;
    }

    .close-icon {
        display: flex;
    }
}

// Mobile
@media (max-width: 739px) {
}
