.wrapper {
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-sf-pro-display);
    font-size: 2.8rem;
    padding-top: 40px;
}

.title-img {
    margin-right: 8px;
    max-width: 16px;
    height: 24px;
}

.blog-title {
    font-family: var(--font-sf-pro-display);
    font-size: 2.4rem;
    padding-left: 12px;
    border-left: 4px solid #e57905;
    margin: 24px 0;
}
